.btn-primary {
	background-color: #0275d8;
	border-color: #0275d8;
}

.panel {
	background-color: #ffffff;
	border: 1px solid #dedede;
	box-shadow: 0 1px 1px #bababa;
}

.container {
  padding: 0 0 0 0;
}

#no_plans {
  margin-top: 80%;
}

#main_plan {
  margin-top: 80%;
  overflow-y: auto;
  margin-bottom: 70px;
}

#button_div {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background-color: #FFFFFF;
}

#load_button {
  bottom: 20px;
  width: 95%;
  height: 40px;
  margin: 5px;
  padding: 5px 10px;
  display: inline-block;
  font-size: 20;
}

.responsive-calendar {
  margin-top: -8px;
  padding-top: 8px;
  margin-left: 3%;
  margin-right: 3%;
  position: fixed;
  background-color: #FFFFFF;
}

.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  background-color: #bcdff5;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}
.responsive-calendar .day.active a {
  background-color: #1d86c8;
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #87aec6;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}
