.navigator {
	font-size: 30px;
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 1;
}

.n_up {
	top: 56px;
}

.n_down {
	bottom: 0;
}

#body_wrap {
	margin-top: 0;
	display: none;
}

.chart {
	margin-top: 25%;
}

.loading {
	margin-top: 50%;
	font-size: 20px;
	color: #aaaaaa;
	display: none;
}

.not_enough {
	margin-top: 50%;
	font-size: 20px;
	color: #aaaaaa;
	display: none;
}