.workout_one {
	width: 100%;
}

.workout_progress {

}

#progress-bar {
	width: 80%;
	height: 10px;
	margin: 10px 0 0 0;
}
hr {
	margin: 15px;
}
.ui-progressbar .ui-progressbar-value {
	background: #0275d8;
	margin: 0 0 0 0;
	border: none;
}

.workout_video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.workout_video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.workout_content {
	width: 90%;
	border: 1px solid black;
}

.workout_done {
	margin: 10px 0 10px 0;
}

.workout_done button {
	position: absolute;
	bottom: 2%;
	right: 10%;
	width: 80%;
}

.modal-dialog.modal-full {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.modal-content.modal-full {
	height: auto;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0);
}

.modal-content.modal-full .modal-body {
	width: 100%;
	position: absolute;
	top: 30%;
}

.timer {
	font-weight: bold;
	font-size: 80px;
	color: white;
}