.workout_one {
	width: 100%;
}

hr {
	margin: 15px;
}

.progress_wrap:hover {
	text-decoration: none;
}

.progress {
	margin: 10px auto;
	width: 90%;
	height: 10px;
}

.progress_text {
	font-size: 12px;
	color: #2E2E2E;
}

.progress_text span {
	color: #347AB8;
}

.workout_name {
	position: relative;
	width :90%;
}

.workout_name span:first-child{
	font-size: 20px;
	color: #2E2E2E;
	display: inline-block;
	width: 80%;
	word-wrap: break-word;
}

.video_button{
	position: absolute;
	top: initial;
	bottom: 8px;
	right: 0;
	color: gray;
}

#hide_video {
	display: none;
}

.workout_video {
	display: none;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	-webkit-transition: display 1s ease;
	transition: display 1s ease;
}
.workout_video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: display 1s ease;
	transition: display 1s ease;
}

.workout_wrap {
	margin: 0;
	width: 100%;
	height: auto;
}

.workout_set {
	font-size: 16px;
	color: #2E2E2E;
}

.workout_set span {
	color: #347AB8;
}

.workout_guide_btn {
	width: 80%;
	height: 32px;
	margin: 15px;
	padding: 0 6px;
}

.workout_guide_btn .glyphicon-minus {
	visibility: hidden;
	font-size: 20px;
	float: left;
}

.workout_guide_btn .glyphicon-play-circle {
	font-size: 20px;
	float: right;
}

.btn-group .btn{
	font-size: 18px;
}

.workout_edit_wrap {
	width: 100%;
	height: auto;
}

.btn[disabled] {
	opacity: 1;
	width: 100px;
}

.workout_dummy {
	height: 72px;
}

.workout_done {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
}

.workout_done button {
	margin: 10px 0 10px 0;
	width: 90%;
	height: 50px;
}

.modal-dialog.modal-full {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.modal-content.modal-full {
	height: auto;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0);
}

.modal-content.modal-full .modal-body {
	width: 100%;
	position: absolute;
	top: 30%;
}

.time-on {
	font-weight: bold;
	font-size: 80px;
	color: white;
}

span.time-over {
	font-weight: bold;
	font-size: 60px;
	color: white;
}

.time-over {
	display: none;
}

